﻿@page "/rssfeed"
@using HybridRSSFeedApp.Components.Data
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<PageTitle>RSS Feed</PageTitle>

@if (AppProps.AppType == AppType.Blazor) {
    <RssFeed @rendermode="InteractiveServer"></RssFeed>
} else if (AppProps.AppType == AppType.Maui) {
    <RssFeed></RssFeed>
}