﻿@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using HybridRSSFeedApp.Components.Data;
@using Microsoft.Maui.Networking;
@using HybridRSSFeedApp.Components.Services;
@inject RssFeedService RssFeedService
@inject IConnectivity ConnectivityService

<div class="p-3 mb-2 bg-purple">

    @if (!hasInternet)
    {
        <p>NO INTERNET!!!</p>
    }

    <input @bind="rssFeedUrl" placeholder="Enter RSS feed URL" />
    <button type="button" class="btn btn-primary" @onclick="FetchRssFeed">Fetch RSS Feed</button>

    @if (rssFeedItems != null && rssFeedItems.Any())
    {
        <ul>
            @foreach (var item in rssFeedItems)
            {
                <li>
                    <a href="@item.Link" target="_blank">@item.Title</a>
                    <p class="fst-italic">@item.Description</p>
                    <small>@item.PublishDate.ToString("f")</small>
                </li>
            }
        </ul>
    }
    else if (rssFeedItems != null)
    {
        <p>No items found.</p>
    }

    <button type="button" class="btn btn-danger" @onclick="Check">Check Internet Connectivity</button>
</div>
@code {
    private string rssFeedUrl;
    private List<RssFeedItem> rssFeedItems;
    bool hasInternet = true;

    void Check()
    {
        if (ConnectivityService is null)
            return;
        hasInternet = ConnectivityService.NetworkAccess == NetworkAccess.Internet;
    }

    private async Task FetchRssFeed()
    {
        try
        {
            rssFeedItems = await RssFeedService.GetRssFeedAsync(rssFeedUrl);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching RSS feed: {ex.Message}");
        }
    }
}
<style>
    .bg-purple {
        background-color: #81119A !important;
        color: greenyellow;
    }
</style>