﻿@using HybridRSSFeedApp.Components.Components.Pages
<Router AppAssembly="typeof(Program).Assembly"
AdditionalAssemblies="new[]{typeof(RssFeed).Assembly}">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
