﻿@page "/"

<PageTitle>Home</PageTitle>

<div style="background-color: #81119A; padding: 20px; color: white; text-align: center;">
    <h1 style="font-family: 'Arial', sans-serif; font-weight: bold; font-size: 36px;">Welcome to My Rss Feed Web App</h1>
    <p style="font-family: 'Verdana', sans-serif; font-size: 18px;">Dear Visitors,</p>
    <p style="font-family: 'Verdana', sans-serif; font-size: 18px;">We're delighted to have you here.</p>
    <p style="font-family: 'Verdana', sans-serif; font-size: 18px;">Explore and enjoy your experience!</p>
</div>