﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HybridRSSFeedApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="rssfeed">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> RSSFeed
            </NavLink>
        </div>
    </nav>
</div>
